<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjl.mapper.TMenuMapper">
  <resultMap id="BaseResultMap" type="com.zjl.bean.TMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  
  <!-- 级联查询 -->
	<resultMap id="getAll" type="com.zjl.bean.TMenu">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="pid" jdbcType="INTEGER" property="pid" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="icon" jdbcType="VARCHAR" property="icon" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<collection property="menuList"
			ofType="com.zjl.bean.TMenu"  column="id" select="com.zjl.mapper.TMenuMapper.selectByPid">
		</collection>
	</resultMap>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zjl.bean.TMenu">
    insert into t_menu (id, pid, name, 
      icon, url)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zjl.bean.TMenu">
    update t_menu
    set pid = #{pid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, pid, name, icon, url
    from t_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, pid, name, icon, url
    from t_menu
  </select>
    <select id="getAllMenu" resultMap="getAll">
    select id, pid, name, icon, url
    from t_menu
  </select>
    <select id="selectByPid" resultMap="BaseResultMap">
     select id, pid, name, icon, url
    from t_menu where pid=#{pid}
  </select>
</mapper>